{% extends "base.html" %}
{% block content %}

<div class="row">

    <!-- =========================
         IMAGE
    ========================== -->
    <div class="col-md-6">

        <h4>Review chunk {{t.id}}</h4>

        <img src="{{ url_for('static', filename=t.image) }}" class="img-fluid border">

    </div>

    <!-- =========================
         REVIEW TABLE
    ========================== -->
    <div class="col-md-6">

        <h5>Review annotations</h5>

        <form method="POST" action="{{ url_for('submit_review', cid=t.id) }}">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">

            <table class="table table-sm">
                <thead>
                    <tr>
                        <th>Survey ID</th>
                        <th>Original</th>
                        <th>Correction</th>
                    </tr>
                </thead>

                <tbody>

                    {% for a in annotations %}
                    <tr>
                        <td>
                            <input name="survey_id" class="form-control" value="{{a['survey_id']}}" readonly>
                        </td>

                        <td>
                            <input name="original_word" class="form-control" value="{{a['word_form']}}" readonly>
                        </td>

                        <td>
                            <input name="corrected_word" class="form-control" value="{{a['word_form']}}">
                        </td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>

            <button class="btn btn-primary w-100">
                Confirm review
            </button>
        </form>

        <a href="{{ url_for('review') }}" class="btn btn-secondary w-100 mt-2">
            Next review task
        </a>

    </div>
</div>

{% endblock %}
